// Colors 

$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

// Typography

$heading-font-family: 'Poppins', sans-serif;
$body-font-family: 'Open Sans', sans-serif;

$regular: 400;
$bold: 600;