html {
    font-size: 14px;
}

body {
    width: 100%;
}

.container {
    width: 100%;
    min-height: 100vh;

    background-color: $violet;

    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        width: 80%;
    }
}

@media only screen and (min-width: 375px) {
    html {
        font-size: 16px;
    }
}