html {
    font-size: 14px;
}

body {
    width: 100%;
}

.container {
    width: 100%;
    min-height: 100vh;

    background-color: $violet;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    .content {
        width: 80%;
        position: relative;
    }
}

.container::before {
    content: "";
    
    background-image: url(../../../images/bg-mobile.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;

    position: absolute;

    top: 0; right: 0;
    bottom: 0; left: 0;
}

@media only screen and (min-width: 375px) {
    html {
        font-size: 16px;
    }
}