.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    
    img {
        width: 98%;
        margin-bottom: 3.75rem;
    }

    .text-container {
        margin-bottom: 1.5rem;

        h1 {

            font-family: $heading-font-family;
            font-size: 1.5rem;
            line-height: 2.25rem;
            font-weight: $bold;
    
            color: hsla(0, 0%, 100%, 1);
    
            margin-bottom: 1rem;
        }

        p {
        
            font-family: $body-font-family;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: normal;
            font-style: normal;
    
            color: hsla(0, 0%, 100%, 1);
        }
    }

    .button-container {
        margin-bottom: 4rem;

        button {

            width: 70%;
    
            text-align: center;
            background-color: #FFFFFF;
            
            border: 0;
            border-radius: 1.25rem;
            box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
            
            padding: 0.70rem 4.70rem;
    
            cursor: pointer;
    
            font-family: $heading-font-family;
            font-weight: $regular;
            font-size: 0.75rem;
            line-height: 1.125rem;
            color: hsla(257, 40%, 49%, 1);
    
            transition: 0.2s;
        }
    
        button:hover {
            background-color: $soft-magenta;
            color: #FFFFFF;
        }
    }
}