.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    
    img {
        width: 98%;
        max-width: 520px;
        margin: 0 auto;
        margin-bottom: 3.75rem;

        animation: fadeIn 1s, moveInBottom 1s;
    }

    .text-container {
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {

            font-family: $heading-font-family;
            font-size: 1.5rem;
            line-height: 2.25rem;
            font-weight: $bold;
    
            color: hsla(0, 0%, 100%, 1);
    
            margin-bottom: 1rem;

            width: 284px;
        }

        p {
        
            font-family: $body-font-family;
            font-size: 0.90rem;
            line-height: 1.5rem;
            font-weight: normal;
            font-style: normal;
    
            color: hsla(0, 0%, 100%, 1);

            padding: 0 0.5rem;
            width: 100%;
        }
    }

    .button-container {
        margin-bottom: 4rem;

        button {

            flex-shrink: 5;
    
            text-align: center;
            background-color: #FFFFFF;
            
            border: 0;
            border-radius: 1.25rem;
            box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
            
            padding: 0.70rem 4.70rem;
    
            cursor: pointer;
    
            font-family: $heading-font-family;
            font-weight: $regular;
            font-size: 0.75rem;
            line-height: 1.125rem;
            color: hsla(257, 40%, 49%, 1);
    
            transition: 0.2s;
        }
    
        button:hover {
            background-color: $soft-magenta;
            color: #FFFFFF;
        }
    }
}

@media only screen and (min-width: 414px) {
    .hero {
        .text-container {
            margin-bottom: 2.5rem;

            h1 {
                font-size: 1.75rem;
                width: 350px;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (min-width: 550px) {
    .hero {
        .text-container {
            h1 {
                font-size: 2rem;
                width: 400px;
            }

            p {
                padding: 0;
                max-width: 459px;
            }
        }

        .button-container {
            button {
                flex-shrink: 2;
                font-size: 0.90rem;
            }
        }
    }
}
